body {
	background-color: #f1f1f1;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

main {
	text-align: center;
	margin: 7% 40% 0% 40%;
}

header {
	color: white;
	font-size: 60px;
	font-weight: bolder;
	text-align: center;
	background-color: #52a5e6;
	padding: 20px 0 20px 0;
}

.form-container {
	text-align: center;
	padding: 20px 50px 20px 50px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #929292;
	margin: 0;
	min-width: 380px;
}

table {
	padding-left: 20px;
	width: 100%;
	text-align: left;
	padding: 5px 0 15px 0;
}

.table-desc {
	width: 35%;
	text-align: right;
}

.t01{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	background-color: #e0dede;
	width: 50%;
	margin: auto;
}

.t01 th {
	text-decoration: underline;
	border: none;
}

.t01 td {
	border: 1px solid black;
	border-right: none;
	border-left: none;
}