body {
	background-color: #f1f1f1;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

main {
	margin: 5% 10% 0 10%;
}

header {
	color: white;
	text-align: center;
	background-color: #52a5e6;
	padding: 5px 0 5px 0;
}

header h1 {
	text-align: center;
	font-weight: bolder;
	font-size: 30px;
	margin-left: -17px;
	margin-top: 5px;
}

h1 {
	text-align: center;
}

nav {
  background-color: #525459;
  color: white;
  margin: -10px -20px;  /* negative margin here makes up for header padding */
  font-size: 20px;
  font-weight: 200;
}

.navbar-list {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
}

.navbar-item {
  display: inline;
}

.navbar-item a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
}

.navbar-item a:hover {
  background-color: #444;
}

.navbar-right {
  float: right;
}

.form-background {
	text-align: center;
	margin: 7% 35% 0% 35%;
}

.form-container {
	text-align: center;
	padding: 20px 50px 20px 50px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #929292;
	margin: 0;
}

table {
	padding-left: 20px;
	width: 100%;
	text-align: left;
	padding: 5px 0 15px 0;
}

.table-desc {
	width: 35%;
	text-align: right;
}

.t01 {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	background-color: #e0dede;
	width: 50%;
	margin: auto;
	box-shadow: 0px 0px 10px #929292;
}

.t01 th {
	border: none;
	background-color: #52a5e6;
	color: white;
	padding: 5px;
}

.t01 td {
	border: 1px solid black;
	border-right: none;
	border-left: none;
}

.t02{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: left;
	background-color: #e0dede;
	width: 70%;
	margin: auto;
}

.t02 *{
	padding-left: 10px;
}

.t02 td {
	border: 1px solid black;
	border-right: none;
	border-left: none;
}

.page-title {
	padding-bottom: 50px;
}

.not-first {
	cursor: pointer;
}

.not-first:hover {
	background-color: #b7aeae;
}

.error-msg {
	color: red;
}

.col-right {
	display: inline-block;
	float: right;
	text-align: left;
	width: 30%;
}

.col-left {
	/*padding-left: 100px;*/
	text-align: left;
	display: inline-block;
	float: left;
	width: 40%;
}

img {
	max-width:100%;
	max-height:100%;
	box-shadow: 0px 0px 10px #929292;
}